style {
    .h {
        color:red;
    }
}

root title=input.title
    @page-content
        div.h
            test title=input.title
        await(user from data.userResolver) client-reorder=true
            await-placeholder
                -- User loading...
            -- ${user.name}