<!DOCTYPE html>
html
    head
        title -- ${input.title}
        meta name="viewport" content="width=device-width, initial-scale=1"
        lasso-head
    body
        include(input.pageContent)
        lasso-body
